:root {
  --primary-color: white;
  --secondary-color: blue;
  --font-color: blue;
  --second-font-color: gray;
  --heading-color: rgb(239, 71, 71);
}

/* Add colors for dark mode */
[data-theme="dark"] {
  --primary-color: black;
  --secondary-color: blue;
  --font-color: blue;
  --second-font-color: gray;
  --heading-color: red;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--font-color);
  display: flexbox;
  line-height: 2;
  margin: 1px;
}

body {
  background-color: var(--primary-color);
}

h1 {
  font-size: 75px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

aside {
  padding: 20px;
  margin: 10px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#viewHighScore {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

#startGame {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
}

article {
  padding: 20px;
  margin: 10px;
  width: 75%;
}

section {
  text-align: center;
}

.answers {
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.answers li {
  background-color: var(--secondary-color);
  margin-right: 50%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  color: var(--primary-color);
  padding: 10px;
  border-radius: 8px
}

.questionText {
  font-size: 25px;
}

.messageBox {
  font-size: 35px;
  font-style: italic;
}

#recordScore {
  padding-right: 20px;
  padding-left: 20px;
}

/* Display none used to hide until end of game  */
#highScoreInput {
  display: none;
}

.high-scores {
  padding-left: 8%;

}

h3 {
  padding-left: 8%;
}

/* display none used to hide high scores until button click  */
.hide {
  display: none;
}






/* Below is code for dark theme switch  */
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: var(--secondary-color);
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}